/* config/bt75_v1.overlay */
#include <dt-bindings/pinctrl/nordic-pinctrl.h>
#include <dt-bindings/i2c/i2c.h>

/ {
    chosen {
        zephyr,display = &oled;
    };

    i2c0_pins: twim0_default {
        nordic,pins = <
            (NRF_PSEL(TWIM_SDA, 0, 17)),
            (NRF_PSEL(TWIM_SCL, 0, 20))
        >;
    };
};

&i2c0 {
    status          = "okay";
    pinctrl-0       = <&i2c0_pins>;
    pinctrl-names   = "default";
    clock-frequency = <I2C_BITRATE_STANDARD>;

    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb-i2c";
        reg        = <0x3c>;
        status     = "okay";
    };
};

&gpio0 {
    status = "okay";
};

&gpio1 {
    status = "okay";
};
